@import "../variables";
@import "../palette";

.issue-row {

  //transition: all .3s ease;

  tr:hover, .expanded {
    cursor: pointer;
    background: $colorGrey50;
    color: $colorGrey800;
  }

  .title-cell {
    width: 90%;
  }

  .status-cell {
    white-space: normal;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    max-width: 500px;
    margin-bottom: 3px;
  }

  .assignee {
    width: 100%;
    display: inline-block;
    padding-top: 4px;
    text-align: center;
  }

  .status-resolved, .status-open, .status-new {
    font-size: 85%;
    color: white;
    width: 100%;
    border-radius: 2px;
    padding: 0 3px;
    display: inline-block;
    text-align: center;
  }

  .status-resolved {
    background: $colorGreen400;
  }
  .status-open {
    background: $colorBlue400;
  }
  .status-new {
    background: $colorBlue400;
  }

  .vote-cell {
    padding-right: 15px;

    .btn-plus-one, .btn-count {
      width: 100%;
    }
    .btn-plus-one {
      border-radius: 5px 5px 0 0;
    }

    .btn-count {
      border-radius: 0 0 5px 5px;
      border-top: 0;
    }
  }
}

.issue-row.selected-true tr, .issue-row.selected-true tr:hover {
  background: $colorYellow50;
  td {
    //border-color: $colorYellow100;
  }
}

/* Transitions */

.row-appear {
  opacity: 0.01;
}

.row-appear.row-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}