@import "../variables";
@import "../palette";

.issue-table {
  max-width: 730px;
  min-width: 730px;

  input { outline:none; }

  position: relative;
  z-index: 100;
  box-shadow: $elevation-4dp;
  background: white;
  margin: 30px auto;
  color: $colorGrey800;
  border-collapse: collapse;

  input[type=checkbox] {
    margin-left: 8px;
  }

  th {
    font-weight: normal;
    cursor: pointer;
    /* Prevent text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  th, td {
    text-align: left;
    padding: 15px 12px;
    border-top: 1px solid $colorGrey200;
  }
  td {
    white-space: nowrap;
    vertical-align: top;
    font-weight: 300;
  }
  tbody tr {
    transition: all .3s ease;
  }

  tbody tr:hover {
    cursor: pointer;
    background: $colorGrey50;
    color: $colorGrey800;
  }

  .checkbox-cell {
    width: 50px;
    text-align: center;
  }
}

/* Transitions */

.table-enter, .table-appear {
  opacity: 0.01;
  transform: translateY(-80px)
}

.table-enter.table-enter-active, .table-appear.table-appear-active {
  opacity: 1;
  transform: none;
  transition: opacity 500ms ease-in, transform 400ms ease-in;
}

.table-leave {
  opacity: 1;
}

.table-leave.table-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}