@import "../variables";
@import "../palette";

.loading-view {
  position: absolute;
  width: 350px;
  height: 200px;
  color: $colorGrey700;
  margin-top: 30%;
  padding-top: 30%;
  text-align: center;
  top: 0;
  left: 0;
  background: white;
  border: $colorBlue500;
  z-index: 999;
}