.table-enter {
  opacity: 0.01;
}

.table-enter.table-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.table-leave {
  opacity: 1;
}

.table-leave.table-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.table-appear {
  opacity: 0.01;
}

.table-appear.table-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.row-appear {
  opacity: 0.01;
}

.row-appear.row-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

