.table-enter {
  opacity: 0.01;
}

.table-enter.table-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.table-leave {
  opacity: 1;
}

.table-leave.table-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.table-appear {
  opacity: 0.01;
}

.table-appear.table-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.row-appear {
  opacity: 0.01;
}

.row-appear.row-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.snackbar-enter {
  //opacity: 0.01;
  transform: translateY(66px);
}

.snackbar-enter.snackbar-enter-active {
  //opacity: 1;
  transform: none;
  transition: transform 250ms ease-in;
}

.snack-leave {
  transform: none;
}

.snackbar-leave.snackbar-leave-active {
  transform: translateY(66px);
  transition: transform 250ms ease-out;
}

.menu-enter {
  //opacity: 0.01;
  transform: translateX(-280px);
}

.menu-enter.menu-enter-active {
  //opacity: 1;
  transform: none;
  transition: transform 200ms ease-in;
}

.menu-leave {
  transform: none;
}

.menu-leave.menu-leave-active {
  transform: translateX(-280px);
  transition: transform 250ms ease-out;
}