@import "variables";
@import "bootstrap";
/*** App styles ***/
@import "components/header";
@import "components/menu";
@import "components/snackbar";
@import "components/loading_view";
/*** IssueTable styles ***/
@import "components/issue_table";
@import "components/issue_header";
@import "components/searchbox";
@import "components/issue_row";
@import "components/issue_empty";
@import "components/activity_list";
@import "components/fab";
/*** Form styles ***/
@import "components/login_form";
@import "components/issue_form";

/*** START Bootstrap overrides ***/
.btn {
  outline: none !important
}

.dropdown {
  display: inline-block
}
/*** END Bootstrap overrides ***/

body {
  background: $colorGrey100;
  padding-top: 50px;
}

#issue-container {
  z-index: 10;
}

.error:before {
  content: ' ';
}

.error {
  font-weight: normal;
}